/IntroduccionJDBV/nbproject/private/
/IntroduccionJDBV/build/
/ManejoPersonas/nbproject/private/
/ManejoPersonas/build/
/ManejoUsuarios/nbproject/private/
/ManejoUsuarios/build/
/ManejoTransacciones/nbproject/private/
/ManejoTransacciones/build/
/PersonaCapaDatos/nbproject/private/